<div class="main-container">
    <h1 class="big-title">Vaccinations</h1>

    <div class="flex-container"
         fxLayout="row"
         fxLayout.xs="column"
         fxLayoutAlign="start center"
         fxLayoutGap="5px">

        <div fxFlex="50"
             fxFlex.xs="100"
             fxFlex.sm="100">
            <app-card
                    class="grid-card-fill map-card"
                    [headerTitle]="'Carte des cas par département'"
                    [headerIcon]="'map'">
                <app-map-vaccin></app-map-vaccin>
            </app-card>
        </div>

        <div fxFlex="50"
             fxFlex.xs="100"
             fxFlex.sm="100">
            <app-card
                    class="grid-card-fill map-card"
                    [headerTitle]="'Carte des cas par département'"
                    [headerIcon]="'map'">
                <p>test</p>
            </app-card>
        </div>

    </div>



</div>

<ng-template #spinner>
    <app-progress-spinner></app-progress-spinner>
</ng-template>
