<div class="main-container">
    <h1 class="big-title">Vaccination</h1>

    <div class="flex-container"
         fxLayout="row"
         fxLayout.xs="column"
         fxLayoutAlign="start center"
         fxLayoutGap="10px">

        <div fxFlex="70"
             fxFlex.xs="100"
             fxFlex.sm="100"
             fxFlexAlign="stretch">
            <app-card
                    class="grid-card-fill map-card"
                    [headerTitle]="'Carte des centres de vaccination'"
                    [headerIcon]="'map'">
                <app-map-vaccin></app-map-vaccin>
            </app-card>
        </div>

        <div class="info-card-container"
             fxFlex="30"
             fxFlex.xs="100"
             fxFlex.sm="100"
             fxFlexAlign="stretch">
            <app-card
                    class="grid-card-fill map-card"
                    [headerTitle]="'Informations relatives à la vaccination'"
                    [headerIcon]="'info'">

                <div *ngIf="!searching; else spinner">
                    <app-vaccin-news *ngFor="let article of news" [article]="article"></app-vaccin-news>
                </div>

            </app-card>
        </div>

    </div>



</div>

<ng-template #spinner>
    <app-progress-spinner></app-progress-spinner>
</ng-template>
