<div class="main-container" *ngIf="!searching; else spinner">
    <h1 class="big-title">Dashboard</h1>
    <mat-grid-list cols="3" rowHeight="42vh">
        <mat-grid-tile [colspan]="2">
            <app-card
                    class="grid-card-fill"
                    [headerTitle]="'En quelques chiffres'"
                    [headerIcon]="'query_stats'"
            >
                <div class="vertical-center" fxLayout="row" fxLayoutAlign="space-around center">
                    <app-key-number [number]="cleanForView(liveData.hospitalises)"
                                    [unity]="getUnity(liveData.hospitalises)"
                                    [description]="'Hospitalisations'">
                    </app-key-number>
                    <app-key-number [number]="cleanForView(liveData.reanimation)"
                                    [unity]="getUnity(liveData.reanimation)"
                                    [description]="'Réanimations'">
                    </app-key-number>
                    <app-key-number [number]="cleanForView(liveData.nouvellesHospitalisations)"
                                    [unity]="getUnity(liveData.nouvellesHospitalisations)"
                                    [description]="'Nouvelles hospitalisations'">
                    </app-key-number>
                    <app-key-number [number]="cleanForView(liveData.nouvellesReanimations)"
                                    [unity]="getUnity(liveData.nouvellesReanimations)"
                                    [description]="'Nouvelles réanimations'">
                    </app-key-number>
                </div>
            </app-card>
        </mat-grid-tile>

        <mat-grid-tile [rowspan]="2">
            <app-card
                    class="grid-card-fill map-card"
                    [headerTitle]="'Carte des cas par département'"
                    [headerIcon]="'map'"
            >
                <app-map></app-map>
            </app-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <app-card
                    class="grid-card-fill"
                    [headerTitle]="'Nombre de cas par jour'"
                    [headerIcon]="'bar_chart'"
            >
                <div style="height: 35vh" #containerRef>
                    <app-cas-chart [view]="[containerRef.offsetWidth, containerRef.offsetHeight]"></app-cas-chart>
                </div>
            </app-card>
        </mat-grid-tile>

        <mat-grid-tile>
            <app-card
                    class="grid-card-fill"
                    [headerTitle]="'Évolution des indicateurs'"
                    [headerIcon]="'show_chart'"
            >
                <div style="height: 35vh" #containerRef2>
                    <app-deaths-chart [view]="[containerRef2.offsetWidth, containerRef2.offsetHeight + 80]"></app-deaths-chart>
                </div>
            </app-card>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<ng-template #spinner>
    <app-progress-spinner></app-progress-spinner>
</ng-template>
