<div class="main-container">
    <h1>Actualités relatives à la COVID-19</h1>
    <div *ngIf="!searching; else spinner"></div>

    <mat-grid-list cols="4" rowHeight="510px">
        <mat-grid-tile *ngFor="let article of news">
            <app-news-card class="news-card"
                           [title]="article.title"
                           [subtitle]="article.source"
                           [imgLink]="article.image"
                           [content]="article.description"
            ></app-news-card>
        </mat-grid-tile>
    </mat-grid-list>


</div>

<ng-template #spinner>
    <app-progress-spinner></app-progress-spinner>
</ng-template>
